<div id="misardcarousel" class="carousel slide">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#misardcarousel"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#misardcarousel"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#misardcarousel"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <button
      type="button"
      data-bs-target="#misardcarousel"
      data-bs-slide-to="3"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <svg
        class="bd-placeholder-img bd-placeholder-img-lg d-block w-100"
        width="800"
        height="400"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Placeholder: Third slide"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
      >
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#046"></rect>
        <text x="50%" y="50%" fill="#333" dy=".3em"></text>
      </svg>
      <div class="carousel-caption">
        <h5>Elun Musk</h5>
        <p>
          What makes innovative thinking happen?… I think it’s really a
          mindset. You have to decide.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <svg
        class="bd-placeholder-img bd-placeholder-img-lg d-block w-100"
        width="800"
        height="400"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Placeholder: Second slide"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
      >
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#046"></rect>
        <text x="50%" y="50%" fill="#444" dy=".3em"></text>
      </svg>
      <div class="carousel-caption">
        <h5>Steve Jobs</h5>
        <p>
          Everyone here has the sense that right now is one of those moments
          when we are influencing the future
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <svg
        class="bd-placeholder-img bd-placeholder-img-lg d-block w-100"
        width="800"
        height="400"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Placeholder: Second slide"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
      >
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#046"></rect>
        <text x="50%" y="50%" dy=".3em"></text>
      </svg>
      <div class="carousel-caption">
        <h5>BillGates</h5>
        <p>
          Don't compare yourself with anyone in this world ... if you do so,
          you are insulting yourself..
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <svg
        class="bd-placeholder-img bd-placeholder-img-lg d-block w-100"
        width="800"
        height="400"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Placeholder: Second slide"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
      >
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#046"></rect>
        <text x="50%" y="50%" dy=".3em"></text>
      </svg>
      <div class="carousel-caption">
        <h5>Misard</h5>
        <p>Be Mad, Step Forward</p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#misardcarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#misardcarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>