<div class="course-duration">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
    <path d="M0 0h2v16H0V0zm2 12h10V0H2v12zm11-.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM4 2a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8A.5.5 0 0 1 4 2zm0 3a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8A.5.5 0 0 1 4 5zm0 3a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
  </svg>
  Course: 25 hours
</div>


<div class="container mt-5">
  <div class="row">
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <!-- Course Section 1: C# Intro Concepts -->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="csharpIntroHeader">
          <button
            class="accordion-button collapsed accordion-header-custom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#csharpIntroContent"
            aria-expanded="false"
            aria-controls="csharpIntroContent"
          >
            C# Intro Concepts
          </button>
        </h2>
        <div
          id="csharpIntroContent"
          class="accordion-collapse collapse"
          aria-labelledby="csharpIntroHeader"
          data-bs-parent="#accordionPanelsStayOpenExample"
        >
          <div class="accordion-body">
            <ul class="list-unstyled">
              <li>
                <strong class="fw-bold mb-2">Basics Introduction:</strong>
                <br />
                Introduction to the fundamental concepts of C# programming,
                including the syntax, structure, and basic components of a
                C# program.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2">Data Types:</strong>
                <br />
                Explanation of different data types in C#, such as integers,
                floating-point numbers, characters, and boolean values,
                along with their memory allocation and usage.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2">Strings:</strong>
                <br />
                Overview of string data type in C#, including string
                manipulation methods, string interpolation, and escape
                characters.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2">Operators:</strong>
                <br />
                Explanation of arithmetic, comparison, logical, and
                assignment operators in C#, along with their precedence and
                associativity.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Datatype Conversations:</strong
                >
                <br />
                Understanding type conversion and type casting in C#,
                including implicit and explicit conversions, and conversion
                between different data types.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2">Introduction on Lists:</strong>
                <br />
                Introduction to C# lists, including their usage, benefits,
                and common operations like adding, removing, and accessing
                elements.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Conditional Statements:</strong
                >
                <br />
                Explanation of if, else if, else, and switch statements in
                C#, along with their usage in controlling the flow of
                program execution based on certain conditions.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2">Loops:</strong>
                <br />
                Overview of loop structures in C#, including for, while, and
                do-while loops, along with their usage for repetitive
                execution of code blocks.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2">Understanding Methods:</strong>
                <br />
                Introduction to methods in C#, including method declaration,
                parameters, return types, and method overloading, along with
                their significance in code organization and reusability.
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Course Section 2: C# Classes and Interfaces -->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="courseSection2-heading">
          <button
            class="accordion-button collapsed accordion-header-custom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#courseSection2-collapse"
            aria-expanded="false"
            aria-controls="courseSection2-collapse"
          >
            C# Classes and Interfaces
          </button>
        </h2>
        <div
          id="courseSection2-collapse"
          class="accordion-collapse collapse"
          aria-labelledby="courseSection2-heading"
        >
          <div class="accordion-body">
            <ul class="list-unstyled">
              <li>
                <strong class="fw-bold mb-2">Basics Introduction:</strong>
                <br />
                Introduction to the basic concepts of classes and interfaces
                in C#, including their definitions, syntax, and usage in
                object-oriented programming.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2">Multiple Classes:</strong>
                <br />
                Explanation of multiple classes in C#, their relationships,
                and how to work with them in a C# program.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2">Static Classes:</strong>
                <br />
                Overview of static classes in C#, including their
                characteristics, advantages, and scenarios where they are
                useful.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2">Non-Static Classes:</strong>
                <br />
                Understanding non-static classes in C#, their instantiation,
                properties, and methods, and how they differ from static
                classes.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Introduction Namespace:</strong
                >
                <br />
                Introduction to namespaces in C#, their role in organizing
                code, and preventing naming conflicts.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Understanding Namespace with multiple classes by Virtual
                  and override:</strong
                >
                <br />
                Explanation of using virtual and override keywords with
                namespaces and multiple classes in C#, along with their
                significance in inheritance and polymorphism.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Introduction Inheritance:</strong
                >
                <br />
                Introduction to inheritance in C#, including base classes,
                derived classes, and inheritance hierarchies.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Introduction Interface:</strong
                >
                <br />
                Overview of interfaces in C#, their definition,
                implementation, and usage in achieving abstraction and
                multiple inheritance-like behavior.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Inheritance with class and Multiple interfaces:</strong
                >
                <br />
                Explanation of implementing inheritance with classes and
                multiple interfaces in C#, along with examples and best
                practices.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Importance of Abstraction:</strong
                >
                <br />
                Understanding the concept of abstraction in C#, its role in
                software design, and how to achieve it using interfaces and
                abstract classes.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Understanding Polymorphism:</strong
                >
                <br />
                Overview of polymorphism in C#, including static and dynamic
                polymorphism, and their implementation using method
                overriding and interfaces.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Compile time Polymorphism and runtime
                  Polymorphism:</strong
                >
                <br />
                Explanation of compile-time and runtime polymorphism in C#,
                their differences, and how they are achieved through method
                overloading and overriding, respectively.
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Course Section 3: Methods -->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="courseSection3-heading">
          <button class="accordion-button collapsed accordion-header-custom" type="button" data-bs-toggle="collapse" data-bs-target="#courseSection3-collapse" aria-expanded="false" aria-controls="courseSection3-collapse">
            Methods
          </button>
        </h2>
        <div id="courseSection3-collapse" class="accordion-collapse collapse" aria-labelledby="courseSection3-heading">
          <div class="accordion-body">
            <ul class="list-unstyled">
              <li>
                <strong class="fw-bold mb-2">Methods and return types:</strong>
                <br>
                Explanation of methods in C#, including their syntax, return types, and how to define and invoke them.
              </li>
              <br> <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2">Methods and Parameters:</strong>
                <br>
                Overview of method parameters in C#, including different parameter types, passing parameters by value and by reference, and method overloading.
              </li>
              <br> <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2">Introduction of Tasks:</strong>
                <br>
                Introduction to tasks in C#, asynchronous programming, and the Task Parallel Library (TPL).
              </li>
              <br> <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2">Understanding Async and Await:</strong>
                <br>
                Explanation of asynchronous programming in C# using the async and await keywords, and their benefits in writing responsive and scalable applications.
              </li>
              <br> <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2">Extension Methods:</strong>
                <br>
                Overview of extension methods in C#, their syntax, usage, and how to extend existing types with additional functionality.
              </li>
            </ul>
          </div>
        </div>
      </div>
      

      <!-- Course Section 4: Exception Handling -->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="courseSection4-heading">
          <button class="accordion-button collapsed accordion-header-custom" type="button" data-bs-toggle="collapse" data-bs-target="#courseSection4-collapse" aria-expanded="false" aria-controls="courseSection4-collapse">
            Exception Handling
          </button>
        </h2>
        <div id="courseSection4-collapse" class="accordion-collapse collapse" aria-labelledby="courseSection4-heading">
          <div class="accordion-body">
            <ul class="list-unstyled">
              <li>
                <strong class="fw-bold mb-2">Introduction on Handling the exceptions:</strong>
                <br>
                Overview of exception handling in C#, including try-catch blocks, finally blocks, and the purpose of exception handling.
              </li>
              <br> <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2">Try, catch, and Finally:</strong>
                <br>
                Explanation of the try-catch-finally construct in C#, and how it is used to handle exceptions and ensure proper cleanup of resources.
              </li>
              <br> <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2">Built-in Exceptions:</strong>
                <br>
                Overview of common built-in exceptions in C#, such as ArgumentException, ArgumentNullException, InvalidOperationException, and how to handle them.
              </li>
              <br> <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2">Custom Exceptions:</strong>
                <br>
                Introduction to custom exceptions in C#, including how to define custom exception classes and throw custom exceptions based on application-specific scenarios.
              </li>
              <br> <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2">Quiz: Real-time Example:</strong>
                <br>
                Practical quiz or exercise demonstrating exception handling concepts with a real-world example scenario.
              </li>
            </ul>
          </div>
        </div>
      </div>
      

      <!-- Course Section 5: Data containers -->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="courseSection5-heading">
          <button class="accordion-button collapsed accordion-header-custom" type="button" data-bs-toggle="collapse" data-bs-target="#courseSection5-collapse" aria-expanded="false" aria-controls="courseSection5-collapse">
            Data Containers
          </button>
        </h2>
        <div id="courseSection5-collapse" class="accordion-collapse collapse" aria-labelledby="courseSection5-heading">
          <div class="accordion-body">
            <ul class="list-unstyled">
              <li>
                <strong class="fw-bold mb-2">Arrays:</strong>
                <br>
                Introduction to arrays in C#, including how to declare, initialize, and access elements in arrays.
              </li>
              <br> <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2">Introduction of Generics:</strong>
                <br>
                Overview of generics in C#, including generic classes, methods, and delegates, and their benefits in type safety and code reusability.
              </li>
              <br> <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2">Array Lists and Lists:</strong>
                <br>
                {{collectionsExplanation}}
              </li>
              <br> <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2">Dictionary:</strong>
                <br>
                {{dictionaryDescription}}
              </li>
              <br> <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2">HashSet:</strong>
                <br>
                {{hashSetOverview}}
              </li>
            </ul>
          </div>
        </div>
      </div>
      

      <!-- Course Section 6: Access Modifiers -->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="courseSection6-heading">
          <button class="accordion-button collapsed accordion-header-custom" type="button" data-bs-toggle="collapse" data-bs-target="#courseSection6-collapse" aria-expanded="false" aria-controls="courseSection6-collapse">
            Access Modifiers
          </button>
        </h2>
        <div id="courseSection6-collapse" class="accordion-collapse collapse" aria-labelledby="courseSection6-heading">
          <div class="accordion-body">
            <ul class="list-unstyled">
              <li>
                <strong class="fw-bold mb-2">Private Protected and Internal:</strong>
                <br>
                Explanation of private, protected, and internal access modifiers in C#, their scope, and how they control access to members of a class or assembly.
              </li>
              <br> <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2">Public and Protected Internal:</strong>
                <br>
                Overview of public and protected internal access modifiers in C#, their differences, and when to use them for defining member visibility.
              </li>
              <br> <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2">Get and Set Accessors:</strong>
                <br>
                Explanation of get and set accessors in C#, their role in encapsulation, and how to use them to control access to class properties.
              </li>
              <br> <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2">Encapsulation:</strong>
                <br>
                Introduction to encapsulation in C#, its importance in object-oriented programming, and how it helps in data hiding and abstraction.
              </li>
              <br> <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2">Quiz: Bank Application:</strong>
                <br>
                Real-life example quiz demonstrating the use of access modifiers and encapsulation in a banking application scenario.
              </li>
            </ul>
          </div>
        </div>
      </div>
      

      <!-- Course Section 7: Delegates -->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="courseSection7-heading">
          <button class="accordion-button collapsed accordion-header-custom" type="button" data-bs-toggle="collapse" data-bs-target="#courseSection7-collapse" aria-expanded="false" aria-controls="courseSection7-collapse">
            Delegates
          </button>
        </h2>
        <div id="courseSection7-collapse" class="accordion-collapse collapse" aria-labelledby="courseSection7-heading">
          <div class="accordion-body">
            <ul class="list-unstyled">
              <li>
                <strong class="fw-bold mb-2">Introduction:</strong>
                <br>
                Overview of delegates in C#, their purpose, and how they provide a way to reference methods as objects.
              </li>
              <br> <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2">Lambda Expressions:</strong>
                <br>
                Explanation of lambda expressions in C#, their syntax, and how they simplify the creation of delegates.
              </li>
              <br> <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2">Understanding Built-in Delegates:</strong>
                <br>
                Exploration of built-in delegate types in C#, such as Func, Action, and Predicate, and their usage scenarios.
              </li>
              <br> <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2">Quiz: Real-time Example:</strong>
                <br>
                Quiz demonstrating the practical application of delegates in a real-world scenario.
              </li>
            </ul>
          </div>
        </div>
      </div>
      

      <!-- Course Section 8: Dependency Injection -->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="courseSection8-heading">
          <button class="accordion-button collapsed accordion-header-custom" type="button" data-bs-toggle="collapse" data-bs-target="#courseSection8-collapse" aria-expanded="false" aria-controls="courseSection8-collapse">
            Dependency Injection
          </button>
        </h2>
        <div id="courseSection8-collapse" class="accordion-collapse collapse" aria-labelledby="courseSection8-heading">
          <div class="accordion-body">
            <ul class="list-unstyled">
              <li>
                <strong class="fw-bold mb-2">Introduction of Design Pattern:</strong>
                <br>
                Overview of design patterns and their importance in software development.
              </li>
              <br> <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2">Introduction of Decoupling System:</strong>
                <br>
                Explanation of decoupling systems and how they promote modularity and flexibility.
              </li>
              <br> <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2">Quiz: Real-time Example:</strong>
                <br>
                Quiz demonstrating the practical application of dependency injection in a real-world scenario.
              </li>
            </ul>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>