<!-- course-duration -->
<div class="course-duration">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-book"
    viewBox="0 0 16 16"
  >
    <path
      d="M0 0h2v16H0V0zm2 12h10V0H2v12zm11-.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM4 2a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8A.5.5 0 0 1 4 2zm0 3a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8A.5.5 0 0 1 4 5zm0 3a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"
    />
  </svg>
  Course: 25 hours
</div>

<!--Body-->
<div class="container mt-5">
  <div class="row">
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <!-- Angular Basics: First Level -->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button
            class="accordion-button collapsed accordion-header-custom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseOne"
            aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne"
          >
            Angular Basics: First Level
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingOne"
        >
          <div class="accordion-body">
            <!-- <p class="card-text"> -->
            <ul>
              <li
                style="
                  font-family: Arial, sans-serif;
                  font-size: 16px;
                  color: #333;
                "
              >
                Explore essential concepts like
                <span style="color: #007bff">String Interpolation</span>,
                <span style="color: #007bff">Property Binding</span>,
                <span style="color: #007bff">Event Binding</span>, and
                <span style="color: #007bff">Two-Way Binding</span>
                in this
                <span style="font-weight: bold">Angular Basics</span>
                course.
              </li>

              <li
                style="
                  font-family: Arial, sans-serif;
                  font-size: 16px;
                  color: #333;
                "
              >
                Master these fundamental principles to elevate your skills in
                <span style="font-weight: bold">Angular development</span>.
              </li>
              <li
                style="
                  font-family: Arial, sans-serif;
                  font-size: 16px;
                  color: #333;
                "
              >
                Based on these topics, the following URL has been designed.
                Please visit:
                <a
                  href="https://ngbasics.azurewebsites.net/"
                  style="
                    font-family: Arial, sans-serif;
                    text-decoration: underline;
                  "
                  target="_blank"
                  >Angular Basics First Level : Live URL</a
                >
              </li>
            </ul>
            <!-- </p> -->
          </div>
        </div>
      </div>

      <!-- Angular Basics: Intermediate Techniques -->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
          <button
            class="accordion-button collapsed accordion-header-custom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseTwo"
            aria-expanded="true"
            aria-controls="panelsStayOpen-collapseTwo"
          >
            Angular Basics: Intermediate Techniques
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingTwo"
        >
          <div class="accordion-body">
            <ul
              style="
                font-family: Arial, sans-serif;
                font-size: 16px;
                color: #333;
              "
            >
              <li>
                Explore essential Angular concepts like
                <span style="color: #007bff">ngStyle</span>,
                <span style="color: #007bff">ngClass</span>,
                <span style="color: #007bff">ngIf</span>,
                <span style="color: #007bff">LocalRef</span>,
                <span style="color: #007bff">ngTemplate</span>,
                <span style="color: #007bff">ngIf and Else</span>,
                <span style="color: #007bff">ngFor</span>, and
                <span style="color: #007bff">ngSwitch</span>.
              </li>
              <li>
                Dive into these topics to enhance your understanding of Angular
                development.
              </li>
              <li
                style="
                  font-family: Arial, sans-serif;
                  font-size: 16px;
                  color: #333;
                "
              >
                Based on these topics, the following URL has been designed.
                Please visit:
                <a
                  href="https://ngcore.azurewebsites.net/"
                  style="
                    font-family: Arial, sans-serif;
                    text-decoration: underline;
                  "
                  target="_blank"
                  >Angular Basics: Intermediate Techniques Live URL</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Advanced Angular: Content Control Techniques -->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          <button
            class="accordion-button collapsed accordion-header-custom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseThree"
            aria-expanded="false"
            aria-controls="panelsStayOpen-collapseThree"
          >
            Advanced Angular: Content Control Techniques
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingThree"
        >
          <div class="accordion-body">
            <ul
              style="
                font-family: Arial, sans-serif;
                font-size: 16px;
                color: #333;
              "
            >
              <li>
                Here you will explore advanced Angular techniques for content
                control. Learn about
                <span style="font-weight: bold">ViewChild</span>,
                <span style="font-weight: bold">ContentChild</span>,
                <span style="font-weight: bold">ngContent</span>,
                <span style="font-weight: bold">ngContainer</span>,
                <span style="font-weight: bold">TemplateRef</span>, and Dynamic
                Templates.
              </li>
              <li>
                To dive deeper into these topics, we've provided a live URL for
                you to explore:
                <a
                  href="https://ngadvanced.azurewebsites.net/"
                  style="
                    font-family: Arial, sans-serif;
                    color: #007bff;
                    text-decoration: underline;
                  "
                  target="_blank"
                  >Advanced Angular: Content Control Techniques Live URL</a
                >
              </li>
              <li>
                Additionally, you will gain insights into advanced Angular
                concepts to further enhance your development skills.
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!--Data communication stratigies-->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
          <button
            class="accordion-button collapsed accordion-header-custom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseFour"
            aria-expanded="false"
            aria-controls="panelsStayOpen-collapseFour"
          >
            Advanced Angular: Data Communication Strategies
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseFour"
          class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingFour"
        >
          <div class="accordion-body">
            <ul
              style="
                font-family: Arial, sans-serif;
                font-size: 16px;
                color: #333;
              "
            >
              <li>
                Discover essential Angular concepts such as
                <span style="color: #007bff">Input</span>,
                <span style="color: #007bff">Output</span>, and
                <span style="color: #007bff">EventEmitter</span>. These features
                serve as powerful tools for communication between components,
                enabling efficient data exchange within Angular applications.
              </li>
              <li>
                Delve deeper into these fundamental concepts to strengthen your
                understanding of Angular development and refine your skills in
                building dynamic web applications.
              </li>
              <li>
                <span
                  >Please follow the URL below to explore the data communication
                  application:</span
                >
                <a
                  href="https://ngtrans.azurewebsites.net/"
                  target="_blank"
                  >Data Communication App</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!--Angular Services-->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="panelsStayOpen-headingFive">
          <button
            class="accordion-button collapsed accordion-header-custom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseFive"
            aria-expanded="false"
            aria-controls="panelsStayOpen-collapseFive"
          >
            Angular: Services
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseFive"
          class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingFive"
        >
          <div class="accordion-body">
            <ul
              style="
                font-family: Arial, sans-serif;
                font-size: 16px;
                color: #333;
              "
            >
              <li>
                Explore the course dedicated to Angular Services, covering
                essential topics such as:
                <ul>
                  <li>Creation of services</li>
                  <li>
                    Utilization of services at child components, parent
                    components, and module levels
                  </li>
                  <li>
                    Data communication mechanisms between different components
                    using services
                  </li>
                  <li>Cross-communication between services</li>
                </ul>
              </li>
              <li>
                Gain a comprehensive understanding of Angular services and their
                pivotal role in application development.
              </li>

              <li>
                <span
                  >Please follow the URL below to explore the data communication
                  application by angular services:</span
                >
                <a
                  href="https://ngservices.azurewebsites.net/"
                  target="_blank"
                  >Angular Services App</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!--Angular Routing-->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="panelsStayOpen-headingSix">
          <button
            class="accordion-button collapsed accordion-header-custom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseSix"
            aria-expanded="false"
            aria-controls="panelsStayOpen-collapseSix"
          >
            Angular: Routing
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseSix"
          class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingSix"
        >
          <div class="accordion-body">
            <ul
              style="
                font-family: Arial, sans-serif;
                font-size: 16px;
                color: #333;
              "
            >
              <li>
                Explore the course dedicated to Angular Routing, covering
                essential topics such as:
                <ul>
                  <li>Set up Routing in AppModule</li>
                  <li>
                    Use RouterLinks to handle Routing with Absolute and Relative
                    Paths
                  </li>
                  <li>Explore different types of parameters in Router URLs</li>
                  <li>
                    Implement Subscription Routing to manage data handling
                  </li>
                </ul>
              </li>
              <li>
                Discover the intricate workings of Angular Routing and how it
                forms the backbone of modern web application navigation.
              </li>

              <li>
                <span
                  >Experience Angular Routing in action with our interactive
                  application:</span
                >
                <a
                  href="https://ngrouting.azurewebsites.net/"
                  target="_blank"
                  >Angular Routing App</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!--Angular Forms-->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
          <button
            class="accordion-button collapsed accordion-header-custom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseSeven"
            aria-expanded="false"
            aria-controls="panelsStayOpen-collapseSeven"
          >
            Angular: Forms
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseSeven"
          class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingSeven"
        >
          <div class="accordion-body">
            <ul
              style="
                font-family: Arial, sans-serif;
                font-size: 16px;
                color: #333;
              "
            >
              <li>
                Explore Angular Template Forms, covering essential topics such
                as:
                <ul>
                  <li>Create Template-driven forms</li>
                  <li>Implement form validation</li>
                  <li>Handle form data using form states</li>
                  <li>Manipulate form values using set and patch methods</li>
                </ul>
              </li>
              <li>
                Discover Angular Reactive Forms, covering essential topics such
                as:
                <ul>
                  <li>
                    Create Reactive forms using form controls and form arrays
                  </li>
                  <li>
                    Add validations and custom validators to Reactive forms
                  </li>
                  <li>
                    Manage form data using methods like setValue and patchValue
                  </li>
                </ul>
              </li>
              <li>
                Gain a comprehensive understanding of Angular Forms and their
                role in developing interactive user interfaces.
              </li>
              <li>
                <span
                  >Experience Angular Forms in action with our interactive
                  application:</span
                >
                <!-- <a href="#" onclick="showAlert()">Angular Forms App</a> -->
                <!-- <a href="#" onclick="showAlert()">Angular Forms App</a> -->
                <a
                  href="https://ngforms.azurewebsites.net/"
                  target="_blank"
                  >Angular Forms App</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!--Angular Http-->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="panelsStayOpen-headingEight">
          <button
            class="accordion-button collapsed accordion-header-custom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseEight"
            aria-expanded="false"
            aria-controls="panelsStayOpen-collapseEight"
          >
            Angular: HTTP
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseEight"
          class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingEight"
        >
          <div class="accordion-body">
            <ul
              style="
                font-family: Arial, sans-serif;
                font-size: 16px;
                color: #333;
              "
            >
              <li>
                Explore Angular HTTP, covering essential topics such as:
                <ul>
                  <li>
                    Consuming Web APIs using HTTP methods like GET, PUT, POST,
                    PATCH, and DELETE
                  </li>
                  <li>
                    Utilizing the power of HttpClientModule for efficient HTTP
                    requests
                  </li>
                  <li>
                    Integrating HTTP APIs into Angular services for data
                    manipulation
                  </li>
                  <li>
                    Implementing HTTP Interceptors for intercepting and
                    transforming HTTP requests
                  </li>
                </ul>
              </li>
              <li>
                Gain a comprehensive understanding of Angular HTTP and its role
                in interacting with external data sources.
              </li>
              <li>
                <span
                  >Experience Angular HTTP in action with our interactive
                  application:</span
                >
                <!-- <a href="#" onclick="showAlert()">Angular HTTP App</a> -->
                <a
                href="https://nghttps.azurewebsites.net/"
                target="_blank"
                >Angular HTTP App</a
              >
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!--Angular More Concepts-->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="panelsStayOpen-headingNine">
          <button
            class="accordion-button collapsed accordion-header-custom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseNine"
            aria-expanded="false"
            aria-controls="panelsStayOpen-collapseNine"
          >
            Angular: More Concepts
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseNine"
          class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingNine"
        >
          <div class="accordion-body">
            <ul
              style="
                font-family: Arial, sans-serif;
                font-size: 16px;
                color: #333;
              "
            >
              <li>
                Dive deeper into Angular with advanced topics including:
                <ul>
                  <li>Creation and utilization of Pipes and Custom Pipes</li>
                  <li>Development of Advanced Directives</li>
                  <li>Custom Observable creation and usage</li>
                  <li>Exploration of various use cases for RxJS Operators</li>
                </ul>
              </li>
              <li>
                Enhance your proficiency in Angular development and explore new
                horizons.
              </li>
              <li>
                <span
                  >Discover these advanced Angular concepts in action through
                  our interactive application:</span
                >
                <a href="#" onclick="showAlert()"
                  >Angular Advanced Concepts App</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!--Angular More Concepts-->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="panelsStayOpen-headingTen">
          <button
            class="accordion-button collapsed accordion-header-custom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseTen"
            aria-expanded="false"
            aria-controls="panelsStayOpen-collapseTen"
          >
            Angular: Deployment Angular App into Azure
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseTen"
          class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingTen"
        >
          <div class="accordion-body">
            <ul
              style="
                font-family: Arial, sans-serif;
                font-size: 16px;
                color: #333;
              "
            >
              <li>
                Ready to take your Angular skills to the next level? Learn how
                to deploy your Angular app to Azure and showcase your work to
                the world! Explore the process step-by-step and gain confidence
                in your abilities. Check out a live website hosted on Azure,
                powered by Angular:
                <a href="#" onclick="showAlert()">Angular Live App</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Bootstrap mentor alert link-->
<div
  id="alertMessage"
  class="alert alert-primary alert-dismissible fade show"
  role="alert"
  style="display: none"
>
  <div class="mb-1">
    <strong>Please connect with mentor for enable the link</strong>
  </div>

  <p class="mb-0">
    Ready to level up your skills? Don't miss out on my guidance! Call
    <a href="#" class="alert-link">7204185064</a> for personalized support and
    clarifications.
  </p>
  <p class="mt-2">
    Whether you're diving into a new project, seeking job opportunities, or
    needing extra support, i am here to help you succeed every step of the way.
  </p>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    onclick="hideAlert()"
  ></button>
</div>
