<div class="course-duration" id="course-duration-id">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
    <path d="M0 0h2v16H0V0zm2 12h10V0H2v12zm11-.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM4 2a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8A.5.5 0 0 1 4 2zm0 3a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8A.5.5 0 0 1 4 5zm0 3a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
  </svg>
  Course: 18 hours
</div>

<div class="container mt-5">
  <div class="row">
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <!-- Course Section 1: Introduction to building ASP.NET Core Web APIs using .NET6 -->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="aspNetIntroHeader">
          <button
            class="accordion-button collapsed accordion-header-custom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#aspNetIntroContent"
            aria-expanded="false"
            aria-controls="aspNetIntroContent"
          >
            Introduction to building ASP.NET Core Web APIs using .NET6
          </button>
        </h2>
        <div
          id="aspNetIntroContent"
          class="accordion-collapse collapse"
          aria-labelledby="aspNetIntroHeader"
          data-bs-parent="#accordionPanelsStayOpenExample"
        >
          <div class="accordion-body">
            <!-- Content for Introduction to building ASP.NET Core Web APIs using .NET6 -->
            <ul class="list-unstyled">
              <li>
                <strong class="fw-bold mb-2">Introduction:</strong>
                <br />
                Overview of ASP.NET Core Web APIs and their significance in
                modern web development, focusing on the use of .NET6 for
                building efficient and scalable APIs.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2">Prerequisites:</strong>
                <br />
                List of prerequisites required for starting with ASP.NET
                Core Web API development using .NET6, including software
                installations and environment setup.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Introduction on Environment setup:</strong
                >
                <br />
                Step-by-step guide on setting up the development environment
                for ASP.NET Core Web API development, including IDE
                installation and configuration.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Download and Install Visual Studio 2022:</strong
                >
                <br />
                Instructions for downloading and installing Visual Studio
                2022, the preferred IDE for developing .NET applications.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Install .NET SDK and .NET Runtime:</strong
                >
                <br />
                Guide on installing the .NET SDK and .NET Runtime, essential
                components for building and running ASP.NET Core
                applications.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Install SQL Server Management Studio:</strong
                >
                <br />
                Instructions for installing SQL Server Management Studio
                (SSMS) for database management and development tasks related
                to ASP.NET Core Web APIs.
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Course Section 2: Create New ASP.NET Core Web API & Domain Models -->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="aspNetApiHeader">
          <button
            class="accordion-button collapsed accordion-header-custom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#aspNetApiContent"
            aria-expanded="false"
            aria-controls="aspNetApiContent"
          >
            Create New ASP.NET Core Web API & Domain Models
          </button>
        </h2>
        <div
          id="aspNetApiContent"
          class="accordion-collapse collapse"
          aria-labelledby="aspNetApiHeader"
          data-bs-parent="#accordionPanelsStayOpenExample"
        >
          <div class="accordion-body">
            <!-- Content for Create New ASP.NET Core Web API & Domain Models -->
            <ul class="list-unstyled">
              <li>
                <strong class="fw-bold mb-2">Introduction:</strong>
                <br />
                Overview of creating a new ASP.NET Core Web API project,
                including the initial setup and understanding of project
                structure.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Create New ASP.NET Core Web API:</strong
                >
                <br />
                Step-by-step guide on creating a new ASP.NET Core Web API
                project in Visual Studio, covering project creation and
                configuration.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Understand ASP.NET Core Web API and File
                  Structure:</strong
                >
                <br />
                Explanation of ASP.NET Core Web API structure, including
                controllers, models, services, and other components, to
                understand the project organization.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Understand REST and HTTP Verbs:</strong
                >
                <br />
                Introduction to RESTful principles and HTTP verbs (GET,
                POST, PUT, DELETE) used in ASP.NET Core Web API for resource
                management.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Routing In ASP.NET Core Web API:</strong
                >
                <br />
                Explanation of routing configuration in ASP.NET Core Web API
                to map incoming requests to appropriate controller actions.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Running and Calling ASP.NET Core Web API:</strong
                >
                <br />
                Instructions for running and testing the newly created
                ASP.NET Core Web API, including making HTTP requests to its
                endpoints.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Understanding about Domain (Domain Driven
                  Development):</strong
                >
                <br />
                Overview of Domain Driven Development (DDD) concepts and its
                importance in designing domain models for ASP.NET Core Web
                APIs.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2">Create Domain Models:</strong>
                <br />
                Step-by-step guide on creating domain models representing
                business entities in ASP.NET Core Web API application.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Adding Entity Framework Core Packages into Visual
                  Studio:</strong
                >
                <br />
                Instructions for adding Entity Framework Core packages to
                the ASP.NET Core Web API project for database interaction.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Creating the DB Context Class:</strong
                >
                <br />
                Explanation of creating a DbContext class in ASP.NET Core
                Web API project to interact with the database using Entity
                Framework Core.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Adding Connection String for connecting to the database
                  In Appsettings.Json:</strong
                >
                <br />
                Guide on configuring a connection string in the
                appsettings.json file to establish a database connection for
                ASP.NET Core Web API.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Introduction on Dependency Injection & Injecting DB
                  Context Into Our Application:</strong
                >
                <br />
                Overview of dependency injection in ASP.NET Core and
                injecting DbContext into services for database operations.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Run EF(Entity Framework) Core Migrations:</strong
                >
                <br />
                Instructions for running Entity Framework Core migrations to
                create or update the database schema based on domain models.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Team Discussions and quiz:</strong
                >
                <br />
                Engage in team discussions and quizzes to reinforce learning
                and understanding of the topics covered in this section.
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Course Section 3: Create New Controller - Regions Controller and CRUD Operations / Action Methods -->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="regionsControllerHeader">
          <button
            class="accordion-button collapsed accordion-header-custom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#regionsControllerContent"
            aria-expanded="false"
            aria-controls="regionsControllerContent"
          >
            Create New Controller - Regions Controller and CRUD Operations /
            Action Methods
          </button>
        </h2>
        <div
          id="regionsControllerContent"
          class="accordion-collapse collapse"
          aria-labelledby="regionsControllerHeader"
          data-bs-parent="#accordionPanelsStayOpenExample"
        >
          <div class="accordion-body">
            <!-- Content for Create New Controller - Regions Controller and CRUD Operations / Action Methods -->
            <ul class="list-unstyled">
              <li>
                <strong class="fw-bold mb-2">Introduction:</strong>
                <br />
                Overview of creating a new controller in ASP.NET Core Web
                API, specifically focusing on the Regions Controller for
                CRUD operations.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Create New Controller (Regions Controller):</strong
                >
                <br />
                Step-by-step guide on creating a new controller named
                RegionsController in the ASP.NET Core Web API project.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Get All Regions Action Method:</strong
                >
                <br />
                Explanation of implementing the GetAllRegions action method
                in the RegionsController to retrieve all regions from the
                database.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Get Region By Id Action Method:</strong
                >
                <br />
                Description of implementing the GetRegionById action method
                in the RegionsController to retrieve a specific region by
                its identifier.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >DTOs and Domain Models:</strong
                >
                <br />
                Overview of Data Transfer Objects (DTOs) and their
                relationship with domain models, emphasizing their usage in
                API development.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Change Methods To Use DTOs:</strong
                >
                <br />
                Instructions for modifying existing action methods in the
                RegionsController to use DTOs for data transfer and mapping.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Create Region Action Method:</strong
                >
                <br />
                Guide on implementing the CreateRegion action method in the
                RegionsController to add a new region to the database.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Update Region Action Method:</strong
                >
                <br />
                Explanation of implementing the UpdateRegion action method
                in the RegionsController to update an existing region in the
                database.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Delete Region Action Method:</strong
                >
                <br />
                Description of implementing the DeleteRegion action method
                in the RegionsController to delete a region from the
                database.
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Course Section 4: Asynchronous Programming, Repository Pattern and AutoMapper -->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="asyncRepoAutoMapperHeader">
          <button
            class="accordion-button collapsed accordion-header-custom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#asyncRepoAutoMapperContent"
            aria-expanded="false"
            aria-controls="asyncRepoAutoMapperContent"
          >
            Asynchronous Programming, Repository Pattern and AutoMapper
          </button>
        </h2>
        <div
          id="asyncRepoAutoMapperContent"
          class="accordion-collapse collapse"
          aria-labelledby="asyncRepoAutoMapperHeader"
          data-bs-parent="#accordionPanelsStayOpenExample"
        >
          <div class="accordion-body">
            <!-- Content for Asynchronous Programming, Repository Pattern and AutoMapper -->
            <ul class="list-unstyled">
              <li>
                <strong class="fw-bold mb-2">Introduction:</strong>
                <br />
                Overview of asynchronous programming concepts, repository
                pattern, and AutoMapper in the context of ASP.NET Core Web
                API development.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Implement Async and Await pattern Into our
                  Methods:</strong
                >
                <br />
                Explanation of incorporating asynchronous programming using
                async and await keywords to improve the responsiveness and
                scalability of ASP.NET Core Web API methods.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Understanding of Repository Pattern and its
                  Benefits:</strong
                >
                <br />
                Description of the repository pattern and its advantages in
                separating data access logic from business logic, enhancing
                testability, and promoting code maintainability.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Implement Repository Pattern In ASP.NET Core Web
                  APIs:</strong
                >
                <br />
                Step-by-step guide on implementing the repository pattern in
                ASP.NET Core Web API projects to encapsulate data access
                operations and interact with data sources.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Add Other Methods To Repository:</strong
                >
                <br />
                Instructions for adding additional methods to the repository
                for performing CRUD operations and other data access tasks.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Introduction of AutoMapper:</strong
                >
                <br />
                Overview of AutoMapper library and its usage for automating
                object-to-object mapping in ASP.NET Core Web API projects,
                reducing boilerplate code and simplifying data manipulation.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2">Implement AutoMapper:</strong>
                <br />
                Guide on integrating and configuring AutoMapper in ASP.NET
                Core Web API applications to facilitate seamless mapping
                between domain models and DTOs.
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Course Section 5: Functionality for Customers - Create, Read, Update, Delete For North Wind Database -->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="customerFunctionalityHeader">
          <button
            class="accordion-button collapsed accordion-header-custom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#customerFunctionalityContent"
            aria-expanded="false"
            aria-controls="customerFunctionalityContent"
          >
            Functionality for Customers - Create, Read, Update, Delete For
            North Wind Database
          </button>
        </h2>
        <div
          id="customerFunctionalityContent"
          class="accordion-collapse collapse"
          aria-labelledby="customerFunctionalityHeader"
          data-bs-parent="#accordionPanelsStayOpenExample"
        >
          <div class="accordion-body">
            <!-- Content for Functionality for Customers - Create, Read, Update, Delete For North Wind Database -->
            <ul class="list-unstyled">
              <li>
                <strong class="fw-bold mb-2">Introduction:</strong>
                <br />
                Overview of implementing CRUD operations for managing
                customer data in an ASP.NET Core Web API project using the
                Northwind database.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Seeding Data Using Entity Framework Core:</strong
                >
                <br />
                Instructions for seeding initial data into the Northwind
                database using Entity Framework Core migrations to
                facilitate testing and development.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Creating Customer Controller and Create New Customer
                  Action Method:</strong
                >
                <br />
                Step-by-step guide on creating a controller for managing
                customer-related operations and implementing an action
                method for creating a new customer.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Get All Customers Action Method:</strong
                >
                <br />
                Explanation of implementing an action method to retrieve a
                list of all customers from the Northwind database and return
                the results to the client.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Navigation Properties In Entity Framework Core:</strong
                >
                <br />
                Overview of navigation properties in Entity Framework Core
                and their usage in representing relationships between
                entities in the database schema.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Get Customer By Id Action Method:</strong
                >
                <br />
                Description of implementing an action method to retrieve a
                specific customer by their identifier from the Northwind
                database.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Update Customer Action Method:</strong
                >
                <br />
                Instructions for implementing an action method to update an
                existing customer record in the Northwind database based on
                user input.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Delete Customer Action Method:</strong
                >
                <br />
                Explanation of implementing an action method to delete a
                customer record from the Northwind database using their
                unique identifier.
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Course Section 6: Validations in ASP.NET Core Web API -->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="validationHeader">
          <button
            class="accordion-button collapsed accordion-header-custom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#validationContent"
            aria-expanded="false"
            aria-controls="validationContent"
          >
            Validations in ASP.NET Core Web API
          </button>
        </h2>
        <div
          id="validationContent"
          class="accordion-collapse collapse"
          aria-labelledby="validationHeader"
          data-bs-parent="#accordionPanelsStayOpenExample"
        >
          <div class="accordion-body">
            <!-- Content for Validations in ASP.NET Core Web API -->
            <ul class="list-unstyled">
              <li>
                <strong class="fw-bold mb-2"
                  >Introduction To Model Validations:</strong
                >
                <br />
                Overview of model validations in ASP.NET Core Web API,
                including the importance of validating user input and
                ensuring data integrity.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Adding Model Validations To Endpoints:</strong
                >
                <br />
                Step-by-step guide on implementing model validations
                directly within the endpoint actions to validate request
                payloads and enforce data constraints.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Custom Validate Model Attribute:</strong
                >
                <br />
                Explanation of creating custom validation attributes in
                ASP.NET Core Web API to implement custom validation logic
                tailored to specific application requirements.
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="filteringSortingPaginationHeader">
          <button
            class="accordion-button collapsed accordion-header-custom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#filteringSortingPaginationContent"
            aria-expanded="false"
            aria-controls="filteringSortingPaginationContent"
          >
            Filtering, Sorting, Pagination in ASP.NET Core Web API
          </button>
        </h2>
        <div
          id="filteringSortingPaginationContent"
          class="accordion-collapse collapse"
          aria-labelledby="filteringSortingPaginationHeader"
          data-bs-parent="#accordionPanelsStayOpenExample"
        >
          <div class="accordion-body">
            <!-- Content for Filtering, Sorting, Pagination in ASP.NET Core Web API -->
            <ul class="list-unstyled">
              <li>
                <strong class="fw-bold mb-2">Introduction:</strong>
                <br />
                Overview of filtering, sorting, and pagination techniques in
                ASP.NET Core Web API to efficiently handle large datasets
                and improve API performance.
              </li>
              <!-- Add space between items -->
              <br />
              <li>
                <strong class="fw-bold mb-2"
                  >Seeding Data in SQL Server:</strong
                >
                <br />
                Explanation of seeding data into the SQL Server database to
                create sample datasets for demonstrating filtering, sorting,
                and pagination functionalities.
              </li>
              <!-- Add space between items -->
              <br />
              <li>
                <strong class="fw-bold mb-2">Filtering Data:</strong>
                <br />
                Step-by-step guide on implementing filtering mechanisms to
                retrieve specific data records based on predefined criteria
                in ASP.NET Core Web API.
              </li>
              <!-- Add space between items -->
              <br />
              <li>
                <strong class="fw-bold mb-2">Sorting Data:</strong>
                <br />
                Explanation of sorting data in ascending or descending order
                based on specified fields to organize data presentation
                effectively.
              </li>
              <!-- Add space between items -->
              <br />
              <li>
                <strong class="fw-bold mb-2">Pagination Data:</strong>
                <br />
                Overview of implementing pagination to divide large data
                sets into smaller, manageable pages, enhancing API
                responsiveness and user experience.
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Course Section 8: Securing our ASP.NET Core API - Authentication and Authorization - JWT Tokens -->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="securingAPITokensHeader">
          <button
            class="accordion-button collapsed accordion-header-custom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#securingAPITokensContent"
            aria-expanded="false"
            aria-controls="securingAPITokensContent"
          >
            Securing our ASP.NET Core API - Authentication and Authorization
            - JWT Tokens
          </button>
        </h2>
        <div
          id="securingAPITokensContent"
          class="accordion-collapse collapse"
          aria-labelledby="securingAPITokensHeader"
          data-bs-parent="#accordionPanelsStayOpenExample"
        >
          <div class="accordion-body">
            <ul class="list-unstyled">
              <li>
                <strong class="fw-bold mb-2">Introduction:</strong>
                <br />
                Overview of the section focusing on securing ASP.NET Core
                API with authentication and authorization using JWT tokens.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Authentication Flow and How it Works:</strong
                >
                <br />
                Explanation of the authentication flow in ASP.NET Core API
                and how it works internally.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Setting Up Authentication:</strong
                >
                <br />
                Steps to set up authentication in the ASP.NET Core API
                project.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Checking Authentication Without JWT Token:</strong
                >
                <br />
                Guide on how to check authentication without using JWT
                tokens.
              </li>
              <br />
              <!-- Add space between items -->
              <!-- Add other list items in a similar format -->
              <li>
                <strong class="fw-bold mb-2"
                  >Setting Up Identity into the Db Context:</strong
                >
                <br />
                Steps to set up identity into the database context.
              </li>
              <br />
              <li>
                <strong class="fw-bold mb-2">Seeding Roles:</strong>
                <br />
                Explanation and steps to seed roles into the database.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Run EF Core Migrations To Create Identity
                  Database:</strong
                >
                <br />
                Instructions on running Entity Framework Core migrations to
                create the identity database.
              </li>
              <br />
              <!-- Previous list items are here -->
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2">Setting Up Identity:</strong>
                <br />
                Instructions for setting up identity in the ASP.NET Core API
                project.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Create Auth Controller and Register Action
                  Method:</strong
                >
                <br />
                Steps to create an authentication controller and the
                register action method.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Create Login Action Method:</strong
                >
                <br />
                Guide on creating the login action method for
                authentication.
              </li>
              <br />
              <!-- Add space between items -->
              <!-- Add other list items in a similar format -->
              <li>
                <strong class="fw-bold mb-2"
                  >Create JWT Token in ASP.NET Core Web API:</strong
                >
                <br />
                Steps to create JWT tokens in the ASP.NET Core Web API for
                authentication.
              </li>
              <br />
              <li>
                <strong class="fw-bold mb-2"
                  >Inject Token Repository and Create Token:</strong
                >
                <br />
                Explanation and steps for injecting the token repository and
                creating tokens.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Role Based Authorization:</strong
                >
                <br />
                Overview of role-based authorization and its implementation
                in the API.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Add Authorization To Swagger:</strong
                >
                <br />
                Steps to add authorization to Swagger for documenting and
                testing the API endpoints.
              </li>
              <br />
              <!-- Add space between items -->
              <!-- Add space between items -->
              <!-- Add other list items in a similar format -->
            </ul>
          </div>
        </div>
      </div>

      <!-- Course Section 9: Image Upload In ASP.NET Core Web API -->
      <!-- <div class="accordion-item"> -->
      <!-- Accordion header and content here -->
      <!-- </div> -->

      <!-- Course Section 10: Advanced Concepts in ASP.NET Core Web APIs -->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="section10Header">
          <button
            class="accordion-button collapsed accordion-header-custom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#section10Content"
            aria-expanded="false"
            aria-controls="section10Content"
          >
            Advanced Concepts in ASP.NET Core Web APIs
          </button>
        </h2>
        <div
          id="section10Content"
          class="accordion-collapse collapse"
          aria-labelledby="section10Header"
          data-bs-parent="#accordionPanelsStayOpenExample"
        >
          <div class="accordion-body">
            <ul class="list-unstyled">
              <li>
                <strong class="fw-bold mb-2"
                  >Introduction and importance of Logging:</strong
                >
                <br />
                Overview of logging in ASP.NET Core Web APIs and its
                significance in monitoring and troubleshooting applications.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Add Logging to Console in ASP.NET Core Web API:</strong
                >
                <br />
                Instructions for adding logging to the console for debugging
                purposes.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Add Logging to Text File In ASP.NET Core Web
                  APIs:</strong
                >
                <br />
                Guide on adding logging to a text file for storing
                application logs.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Global Exception Handling In ASP.NET Core Web
                  APIs:</strong
                >
                <br />
                Explanation and implementation of global exception handling
                to handle unhandled exceptions gracefully.
              </li>
              <br />
              <!-- Add space between items -->
            </ul>
          </div>
        </div>
      </div>

      <!-- Course Section 11: Versioning In ASP.NET Core Web API -->
      <!-- <div class="accordion-item"> -->
      <!-- Accordion header and content here -->
      <!-- </div> -->

      <!-- Course Section 12: Consuming our Web API -->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="section12Header">
          <button
            class="accordion-button collapsed accordion-header-custom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#section12Content"
            aria-expanded="false"
            aria-controls="section12Content"
          >
            Consuming our Web API
          </button>
        </h2>
        <div
          id="section12Content"
          class="accordion-collapse collapse"
          aria-labelledby="section12Header"
          data-bs-parent="#accordionPanelsStayOpenExample"
        >
          <div class="accordion-body">
            <ul class="list-unstyled">
              <li>
                <strong class="fw-bold mb-2"
                  >Consuming REST Web APIs:</strong
                >
                <br />
                Guide on consuming RESTful Web APIs using Angular to fetch
                data from the ASP.NET Core Web API endpoints.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >Creating ASP.NET MVC Web Application:</strong
                >
                <br />
                Instructions for creating an Angular application to consume
                the ASP.NET Core Web API.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2">GET - Consume Web API:</strong>
                <br />
                Explanation and demonstration of consuming HTTP GET requests
                from the Web API using Angular HttpClient module.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >POST - Consume Web API:</strong
                >
                <br />
                Instructions for consuming HTTP POST requests from the Web
                API using Angular HttpClient module.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >GET single Region - Edit Region Prerequisite:</strong
                >
                <br />
                Guide on consuming the Web API to fetch a single region for
                editing purposes in Angular.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >PUT - Updating Using Web API:</strong
                >
                <br />
                Explanation and demonstration of updating data in the Web
                API using HTTP PUT requests from Angular.
              </li>
              <br />
              <!-- Add space between items -->
              <li>
                <strong class="fw-bold mb-2"
                  >DELETE - Deleting a Resource using Web API:</strong
                >
                <br />
                Instructions for deleting resources from the Web API using
                Angular HttpClient module.
              </li>
              <br />
              <!-- Add space between items -->
            </ul>
          </div>
        </div>
      </div>

      <!-- Course Section 13: Deploying ASP.NET Web API to Azure -->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="section13Header">
          <button
            class="accordion-button collapsed accordion-header-custom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#section13Content"
            aria-expanded="false"
            aria-controls="section13Content"
          >
            Deploying ASP.NET Web API to Azure
          </button>
        </h2>
        <div
          id="section13Content"
          class="accordion-collapse collapse"
          aria-labelledby="section13Header"
          data-bs-parent="#accordionPanelsStayOpenExample"
        >
          <div class="accordion-body">
            <strong class="fw-bold mb-2"
              >Deploying ASP.NET Web API To Azure:</strong
            >
            <br />
            Overview of deploying ASP.NET Core Web API to the Azure cloud
            platform.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>