<div *ngIf="windowID; else regularContent">
  <!-- Logic for displaying content if windowID exists -->
  <!-- <app-html-articles-newwindow [windowID]="windowID"></app-html-articles-newwindow> -->
</div>

<ng-template #regularContent>
  <ng-container *ngFor="let item of topics">
    <div class="container mt-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ item.TopicName }}</h5>
          <p>{{ item.Description }}</p>
          <span class="text-muted" style="font-style: italic"
            >Created by: Rakesh, Misard Student</span
          >
          <a
            class="btn btn-primary custom-btn float-end"
            (click)="navigate(item)"
          >
            View More
          </a>
          <!-- <button
            type="button"
            class="btn btn-primary custom-btn float-end"
            [routerLink]="['javascript-articles', item.ID]"
          >
            View More
          </button> -->
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>
<!-- <router-outlet></router-outlet> -->
