<!--Course Duration-->
<div class="course-duration">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-book"
    viewBox="0 0 16 16"
  >
    <path
      d="M0 0h2v16H0V0zm2 12h10V0H2v12zm11-.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM4 2a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8A.5.5 0 0 1 4 2zm0 3a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8A.5.5 0 0 1 4 5zm0 3a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"
    />
  </svg>
  Course: 4 hours
</div>


<!--Typescript Body-->
<div class="container mt-5">
  <div class="row">
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <!-- Typescript Introduction -->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="typescriptIntroHeader">
          <button
            class="accordion-button collapsed accordion-header-custom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#typescriptIntroContent"
            aria-expanded="false"
            aria-controls="typescriptIntroContent"
          >
            Typescript Introduction
          </button>
        </h2>
        <div
          id="typescriptIntroContent"
          class="accordion-collapse collapse"
          aria-labelledby="typescriptIntroHeader"
          data-bs-parent="#accordionPanelsStayOpenExample"
        >
          <div class="accordion-body">
            <ul class="list-unstyled">
              <li class="fw-bold mb-2">Typescript Introduction:</li>
              <li class="mb-4">Introduction to TypeScript and its features.</li>

              <li class="fw-bold mb-2">Setup Typescript in VSCode:</li>
              <li class="mb-4">
                Guide on setting up TypeScript in Visual Studio Code for
                development.
              </li>

              <li class="fw-bold mb-2">TypeScript vs Javascript:</li>
              <li class="mb-4">
                Comparison between TypeScript and JavaScript, highlighting their
                differences and similarities.
              </li>

              <li class="fw-bold mb-2">
                Conversion from Typescript to Javascript:
              </li>
              <li class="mb-4">
                Explanation of how to convert TypeScript code to JavaScript
                code.
              </li>

              <li class="fw-bold mb-2">Run basic code:</li>
              <li class="mb-4">
                Instructions on running basic TypeScript code for testing and
                validation.
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Typescript - Intermediate Level -->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="typescriptIntermediateHeader">
          <button
            class="accordion-button collapsed accordion-header-custom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#typescriptIntermediateContent"
            aria-expanded="false"
            aria-controls="typescriptIntermediateContent"
          >
            Typescript - Intermediate Level
          </button>
        </h2>
        <div
          id="typescriptIntermediateContent"
          class="accordion-collapse collapse"
          aria-labelledby="typescriptIntermediateHeader"
          data-bs-parent="#accordionPanelsStayOpenExample"
        >
          <div class="accordion-body">
            <ul class="list-unstyled">
              <li class="fw-bold mb-2">Assignment of the variable:</li>
              <li class="mb-4">
                Explanation of how to assign variables in TypeScript.
              </li>

              <li class="fw-bold mb-2">What is Strong type?</li>
              <li class="mb-4">
                Introduction to the concept of strong typing in TypeScript and
                its significance.
              </li>

              <li class="fw-bold mb-2">
                How to set up the variable by specified type by number, boolean,
                string, any, and unknown:
              </li>
              <li class="mb-4">
                Instructions on declaring and initializing variables with
                specific data types in TypeScript.
              </li>

              <li class="fw-bold mb-2">
                Tupling type and how to destruct that:
              </li>
              <li class="mb-4">
                Explanation of tuple types in TypeScript and how to destructure
                them for accessing individual elements.
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Typescript - Working with Objects -->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="typescriptObjectsHeader">
          <button
            class="accordion-button collapsed accordion-header-custom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#typescriptObjectsContent"
            aria-expanded="false"
            aria-controls="typescriptObjectsContent"
          >
            Typescript - Working with Objects
          </button>
        </h2>
        <div
          id="typescriptObjectsContent"
          class="accordion-collapse collapse"
          aria-labelledby="typescriptObjectsHeader"
          data-bs-parent="#accordionPanelsStayOpenExample"
        >
          <div class="accordion-body">
            <ul class="list-unstyled">
              <li class="fw-bold mb-2">Working with Objects:</li>
              <li class="mb-4">
                Explanation of how to work with objects in TypeScript.
              </li>

              <li class="fw-bold mb-2">Making the object with strong type:</li>
              <li class="mb-4">
                Demonstration of creating objects with strong typing in
                TypeScript.
              </li>

              <li class="fw-bold mb-2">
                Testing for modifying the type of the object:
              </li>
              <li class="mb-4">
                Instructions on how to test for and modify the type of an object
                in TypeScript.
              </li>

              <li class="fw-bold mb-2">
                How to pass optional properties into the object:
              </li>
              <li class="mb-4">
                Explanation of passing optional properties to objects in
                TypeScript.
              </li>

              <li class="fw-bold mb-2">
                How to pass the default value to the properties:
              </li>
              <li class="mb-4">
                Instructions on passing default values to properties of objects
                in TypeScript.
              </li>

              <li class="fw-bold mb-2">
                How to make the Index signature to the variable:
              </li>
              <li class="mb-4">
                Explanation of how to define index signatures for variables in
                TypeScript.
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Typescript - Advanced -->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="typescriptAdvancedHeader">
          <button
            class="accordion-button collapsed accordion-header-custom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#typescriptAdvancedContent"
            aria-expanded="false"
            aria-controls="typescriptAdvancedContent"
          >
            Typescript - Advanced
          </button>
        </h2>
        <div
          id="typescriptAdvancedContent"
          class="accordion-collapse collapse"
          aria-labelledby="typescriptAdvancedHeader"
          data-bs-parent="#accordionPanelsStayOpenExample"
        >
          <div class="accordion-body">
            <ul class="list-unstyled">
              <li class="fw-bold mb-2">Enums:</li>
              <li class="mb-4">
                Explanation of enums in TypeScript and their usage.
              </li>

              <li class="fw-bold mb-2">How to use 'Type' Keyword:</li>
              <li class="mb-4">
                Demonstration of using the 'type' keyword in TypeScript.
              </li>

              <li class="fw-bold mb-2">Setup Custom Types:</li>
              <li class="mb-4">
                Instructions on setting up custom types in TypeScript.
              </li>

              <li class="fw-bold mb-2">Custom Type to Interface:</li>
              <li class="mb-4">
                Explanation of converting custom types to interfaces in
                TypeScript.
              </li>

              <li class="fw-bold mb-2">
                How & where we have to use Interfaces:
              </li>
              <li class="mb-4">
                Guidance on how and where to use interfaces in TypeScript.
              </li>

              <li class="fw-bold mb-2">Importance of interfaces:</li>
              <li class="mb-4">
                Explanation of the importance of interfaces in TypeScript.
              </li>

              <li class="fw-bold mb-2">How to multi data type:</li>
              <li class="mb-4">
                Explanation of handling multiple data types in TypeScript.
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Typescript : Higher level -->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="typescriptHigherLevelHeader">
          <button
            class="accordion-button collapsed accordion-header-custom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#typescriptHigherLevelContent"
            aria-expanded="false"
            aria-controls="typescriptHigherLevelContent"
          >
            Typescript : Higher level
          </button>
        </h2>
        <div
          id="typescriptHigherLevelContent"
          class="accordion-collapse collapse"
          aria-labelledby="typescriptHigherLevelHeader"
          data-bs-parent="#accordionPanelsStayOpenExample"
        >
          <div class="accordion-body">
            <ul class="list-unstyled">
              <li class="fw-bold mb-2">Strong functions:</li>
              <li class="mb-4">
                Introduction to strong functions in TypeScript and their usage.
              </li>

              <li class="fw-bold mb-2">
                How to use default , optional , rest parameters into the
                function:
              </li>
              <li class="mb-4">
                Explanation of using default, optional, and rest parameters in
                TypeScript functions.
              </li>

              <li class="fw-bold mb-2">Importance of type casting:</li>
              <li class="mb-4">
                Discussion on the importance and usage of type casting in
                TypeScript.
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Typescript : Class -->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="typescriptClassHeader">
          <button
            class="accordion-button collapsed accordion-header-custom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#typescriptClassContent"
            aria-expanded="false"
            aria-controls="typescriptClassContent"
          >
            Typescript : Class
          </button>
        </h2>
        <div
          id="typescriptClassContent"
          class="accordion-collapse collapse"
          aria-labelledby="typescriptClassHeader"
          data-bs-parent="#accordionPanelsStayOpenExample"
        >
          <div class="accordion-body">
            <ul class="list-unstyled">
              <li class="fw-bold mb-2">
                What & how & Where we have to use the class:
              </li>
              <li class="mb-4">
                Explanation of what classes are in TypeScript, how they are
                used, and where they should be applied.
              </li>

              <li class="fw-bold mb-2">Implement concepts into the class:</li>
              <li class="mb-4">
                Discussion on implementing various concepts into TypeScript
                classes.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
