<!-- Responsive Bootstrap Cards with Uniform Image Sizes and Footers -->
<div class="container my-4">
  <div class="row">
    <!-- Card 1 -->
    <div class="col-md-4 mb-3">
      <div class="card h-100 d-flex flex-column">
        <a href="#">
          <img
            src="../../assets/images/HTML.jpg"
            class="card-img-top fixed-image"
            alt="HTML Image"
          />
        </a>
        <div class="card-body flex-grow-1">
          <h5 class="card-title">HTML</h5>
          <p class="card-text text-truncate-2">
            HTML is a markup language for structuring webpages. Learn how it
            defines web layouts and design.
          </p>
        </div>
        <div class="card-footer bg-light text-center">
          <p class="text-muted mb-1">
            <i class="fas fa-link"></i>
            <a [routerLink]="'html-articles'" class="project-link">Read More</a>
          </p>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-md-4 mb-3">
      <div class="card h-100 d-flex flex-column">
        <a href="#">
          <img
            src="../../assets/images/Javascript.png"
            class="card-img-top fixed-image"
            alt="JavaScript Image"
          />
        </a>
        <div class="card-body flex-grow-1">
          <h5 class="card-title">JavaScript</h5>
          <p class="card-text text-truncate-2">
            JavaScript is a versatile programming language that enables dynamic
            behavior on websites. It allows developers to create interactive
            features and enhance user experiences.
          </p>
        </div>
        <div class="card-footer bg-light text-center">
          <p class="text-muted mb-1">
            <i class="fas fa-link"></i>
            <a  [routerLink]="'javascript-articles'"  class="project-link">Read More</a>
          </p>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col-md-4 mb-3">
      <div class="card h-100 d-flex flex-column">
        <a href="#">
          <img
            src="../../assets/images/Typescript.jpg"
            class="card-img-top fixed-image"
            alt="TypeScript Image"
          />
        </a>
        <div class="card-body flex-grow-1">
          <h5 class="card-title">TypeScript</h5>
          <p class="card-text text-truncate-2">
            TypeScript is a strongly typed programming language that builds on
            JavaScript. It adds static types and advanced features, enhancing
            code quality and maintainability.
          </p>
        </div>
        <div class="card-footer bg-light text-center">
          <p class="text-muted mb-1">
            <i class="fas fa-link"></i>
            <a [routerLink]="'typescript-articles'"  class="project-link">Read More</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Card 1 -->
    <div class="col-md-4 mb-3">
      <div class="card h-100 d-flex flex-column">
        <a href="#">
          <img
            src="../../assets/images/Angular.png"
            class="card-img-top fixed-image"
            alt="Angular Image"
          />
        </a>
        <div class="card-body flex-grow-1">
          <h5 class="card-title">Angular</h5>
          <p class="card-text text-truncate-2">
            Angular is a powerful framework for building dynamic web
            applications. It offers a comprehensive solution for developing
            single-page applications with robust features.
          </p>
        </div>
        <div class="card-footer bg-light text-center">
            <p class="text-muted mb-1">
                <i class="fas fa-link"></i>
                <a [routerLink]="'angular-articles'" class="project-link">Read More</a>
            </p>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-md-4 mb-3">
      <div class="card h-100 d-flex flex-column">
        <a href="#">
          <img
            src="../../assets/images/Csharp.png"
            class="card-img-top fixed-image csharp-image"
            alt="C#.NET Image"
          />
        </a>
        <div class="card-body flex-grow-1">
          <h5 class="card-title">C#.NET</h5>
          <p class="card-text text-truncate-2">
            C# is a versatile, object-oriented programming language developed by
            Microsoft. It is used for developing a wide range of applications,
            including web, desktop, and mobile applications.
          </p>
        </div>
        <div class="card-footer bg-light text-center">
          <p class="text-muted mb-1">
            <i class="fas fa-link"></i>
            <a [routerLink]="'csharp-articles'" class="project-link">Read More</a>
          </p>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col-md-4 mb-3">
      <div class="card h-100 d-flex flex-column">
        <a href="#">
          <img
            src="../../assets/images/aspnetcore.png"
            class="card-img-top fixed-image aspnetcore-image"
            alt="ASP.NET Core Image"
          />
        </a>
        <div class="card-body flex-grow-1">
          <h5 class="card-title">ASP.NET Core</h5>
          <p class="card-text text-truncate-2">
            ASP.NET Core is a cross-platform framework for building modern,
            cloud-based, and internet-connected applications. It is designed to
            provide a high-performance and scalable platform for developing web
            APIs and dynamic web applications.
          </p>
        </div>
        <div class="card-footer bg-light text-center">
          <p class="text-muted mb-1">
            <i class="fas fa-link"></i>
            <a [routerLink]="'aspnetcore-articles'"  class="project-link">Read More</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Card 1 -->
    <div class="col-md-4 mb-3">
      <div class="card h-100 d-flex flex-column">
        <a href="#">
          <img
            src="../../assets/images/OOPS.png"
            class="card-img-top fixed-image"
            alt="OOPS Image"
          />
        </a>
        <div class="card-body flex-grow-1">
          <h5 class="card-title">OOPS</h5>
          <p class="card-text text-truncate-2">
            Object-Oriented Programming (OOP) is a programming paradigm based on
            the concept of "objects," which can contain data and code. OOP
            principles such as encapsulation, inheritance, and polymorphism help
            in organizing code, enhancing reusability, and making software more
            maintainable.
          </p>
        </div>
        <div class="card-footer bg-light text-center">
          <p class="text-muted mb-1">
            <i class="fas fa-link"></i>
            <a href="#" class="project-link">Read More</a>
          </p>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-md-4 mb-3">
      <div class="card h-100 d-flex flex-column">
        <a href="#">
          <img
            src="../../assets/images/EF.png"
            class="card-img-top fixed-image csharp-image"
            alt="EFImage"
          />
        </a>
        <div class="card-body flex-grow-1">
          <h5 class="card-title">Entity Frame work</h5>
          <p class="card-text text-truncate-2">
            Entity Framework is an Object-Relational Mapper (ORM) for .NET
            applications that provides a set of tools and services to interact
            with databases. It simplifies database operations by allowing
            developers to work with data in the form of .NET objects,
            eliminating the need for most of the data-access code typically
            required.
          </p>
        </div>
        <div class="card-footer bg-light text-center">
          <p class="text-muted mb-1">
            <i class="fas fa-link"></i>
            <a href="#" class="project-link">Read More</a>
          </p>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col-md-4 mb-3">
      <div class="card h-100 d-flex flex-column">
        <a href="#">
          <img
            src="../../assets/images/Linq.jpg"
            class="card-img-top fixed-image aspnetcore-image"
            alt="Linq Image"
          />
        </a>
        <div class="card-body flex-grow-1">
          <h5 class="card-title">LinQ</h5>
          <p class="card-text text-truncate-2">
            Language Integrated Query (LINQ) is a feature in .NET that provides
            a consistent query experience across different types of data
            sources, such as collections, databases, XML, and more. It allows
            developers to write queries directly in C# or VB.NET in a way that
            is integrated with the language, making data access more intuitive
            and expressive.
          </p>
        </div>
        <div class="card-footer bg-light text-center">
          <p class="text-muted mb-1">
            <i class="fas fa-link"></i>
            <a href="#" class="project-link">Read More</a>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Card 1 -->
      <div class="col-md-4 mb-3">
        <div class="card h-100 d-flex flex-column">
          <a href="#">
            <img
              src="../../assets/images/Nodejs.png"
              class="card-img-top fixed-image"
              alt="Nodejs Image"
            />
          </a>
          <div class="card-body flex-grow-1">
            <h5 class="card-title">NodeJS</h5>
            <p class="card-text text-truncate-2">
              Node.js is a JavaScript runtime built on Chrome's V8 JavaScript
              engine. It enables developers to build scalable network
              applications quickly and efficiently using non-blocking,
              event-driven architecture. It's widely used for building
              server-side applications and APIs.
            </p>
          </div>
          <div class="card-footer bg-light text-center">
            <p class="text-muted mb-1">
              <i class="fas fa-link"></i>
              <a href="#" class="project-link">Read More</a>
            </p>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-md-4 mb-3">
        <div class="card h-100 d-flex flex-column">
          <a href="#">
            <img
              src="../../assets/images/React.png"
              class="card-img-top fixed-image csharp-image"
              alt="ReactJS Image"
            />
          </a>
          <div class="card-body flex-grow-1">
            <h5 class="card-title">ReactJS</h5>
            <p class="card-text text-truncate-2">
              ReactJS is a popular JavaScript library developed by Facebook for
              building user interfaces. It allows developers to create reusable
              UI components and manage the state of complex applications
              efficiently. React is known for its virtual DOM and
              component-based architecture.
            </p>
          </div>
          <div class="card-footer bg-light text-center">
            <p class="text-muted mb-1">
              <i class="fas fa-link"></i>
              <a href="#" class="project-link">Read More</a>
            </p>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-md-4 mb-3">
        <div class="card h-100 d-flex flex-column">
          <a href="#">
            <img
              src="../../assets/images/Agile.png"
              class="card-img-top fixed-image aspnetcore-image"
              alt="ASP.NET Core Image"
            />
          </a>
          <div class="card-body flex-grow-1">
            <h5 class="card-title">Agile Methodology</h5>
            <p class="card-text text-truncate-2">
              Agile is a cutting-edge platform designed to simplify complex
              workflows and enhance productivity. It offers a range of features
              to streamline tasks and integrate various services, making it an
              essential tool for modern business environments.
            </p>
          </div>
          <div class="card-footer bg-light text-center">
            <p class="text-muted mb-1">
              <i class="fas fa-link"></i>
              <a href="#" class="project-link">Read More</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
