<div class="course-duration">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-book"
    viewBox="0 0 16 16"
  >
    <path
      d="M0 0h2v16H0V0zm2 12h10V0H2v12zm11-.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM4 2a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8A.5.5 0 0 1 4 2zm0 3a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8A.5.5 0 0 1 4 5zm0 3a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"
    />
  </svg>
  Course: 6 hours
</div>

<div class="container mt-5">
  <div class="row">
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <!-- Javascript -->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button
            class="accordion-button collapsed accordion-header-custom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseOne"
            aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne"
          >
            Javascript : First Level
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingOne"
        >
          <div class="accordion-body">
            <!-- <p class="card-text"> -->
            <ul class="list-unstyled">
              <li class="fw-bold mb-2">What is Console?</li>
              <li class="mb-4">
                Introduction to the console object in JavaScript, used for
                logging messages and debugging code.
              </li>

              <li class="fw-bold mb-2">
                Understanding Inline and Multiline Comments
              </li>
              <li class="mb-4">
                Explaining the use of single-line and multi-line comments in
                JavaScript for code documentation and readability.
              </li>

              <li class="fw-bold mb-2">Understanding Data Types</li>
              <li class="mb-4">
                Overview of different data types in JavaScript, including
                numbers, strings, booleans, objects, arrays, and more.
              </li>

              <li class="fw-bold mb-2">
                Different Types of Data Types in the Real World
              </li>
              <li class="mb-4">
                Real-world examples of how various data types are used in
                JavaScript programming.
              </li>

              <li class="fw-bold mb-2">How to Use Data Types</li>
              <li class="mb-4">
                Practical examples and demonstrations of working with different
                data types in JavaScript code.
              </li>

              <li class="fw-bold mb-2">Understanding Statements</li>
              <li class="mb-4">
                Explanation of statements in JavaScript, which are individual
                instructions or commands that the interpreter can execute.
              </li>

              <li class="fw-bold mb-2">How to Initialize Data</li>
              <li class="mb-4">
                Techniques for initializing variables and data structures in
                JavaScript.
              </li>

              <li class="fw-bold mb-2">Ways to Declare Data</li>
              <li class="mb-4">
                Different methods for declaring variables and constants in
                JavaScript, including var, let, and const.
              </li>

              <li class="fw-bold mb-2">
                Difference between var, let, and const
              </li>
              <li class="mb-4">
                Comparison of var, let, and const in terms of scope, hoisting,
                and mutability.
              </li>

              <li class="fw-bold mb-2">Defined vs Undefined vs Null</li>
              <li class="mb-4">
                Understanding the differences between defined, undefined, and
                null values in JavaScript.
              </li>

              <li class="fw-bold mb-2">Standards for Declaring Variables</li>
              <li>
                Best practices and conventions for declaring variables in
                JavaScript code for improved readability and maintainability.
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Javacript : Advanced -->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
          <button
            class="accordion-button collapsed accordion-header-custom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseTwo"
            aria-expanded="true"
            aria-controls="panelsStayOpen-collapseTwo"
          >
            JavaScript - Advanced
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingTwo"
        >
          <div class="accordion-body">
            <ul class="list-unstyled">
              <li class="fw-bold mb-2">Javascript - More on datatypes</li>
              <li class="mb-4">
                Exploring numbers, strings, characters, floats, and date values.
              </li>

              <li class="fw-bold mb-2">Arrays: Fundamentals and Beyond</li>
              <li class="mb-4">
                Understanding arrays and their functionalities.
              </li>
              <li class="mb-4">
                Exploring advanced functionalities in arrays.
              </li>

              <li class="fw-bold mb-2">Objects: Advanced Techniques</li>
              <li class="mb-4">
                More operations and techniques for working with objects.
              </li>

              <li class="fw-bold mb-2">Functions: Mastery and Beyond</li>
              <li class="mb-4">
                Understanding functions, different types, and invocation
                methods.
              </li>
              <li class="mb-4">
                Advanced concepts and best practices in function programming.
              </li>

              <li class="fw-bold mb-2">Conditional Statements</li>
              <li class="mb-4">
                Exploring conditional statements in JavaScript.
              </li>

              <li class="fw-bold mb-2">Switch-Case Statements</li>
              <li class="mb-4">
                Understanding switch-case statements and their usage.
              </li>

              <li class="fw-bold mb-2">Advanced Function Techniques</li>
              <li class="mb-4">
                Mastering advanced concepts and techniques in function
                programming.
              </li>

              <li class="fw-bold mb-2">
                Asynchronous Programming with async/await
              </li>
              <li class="mb-4">
                Exploring asynchronous programming and the async/await syntax.
              </li>

              <li class="fw-bold mb-2">Objects: Advanced Operations</li>
              <li class="mb-4">
                Advanced operations and manipulations with objects.
              </li>

              <li class="fw-bold mb-2">Loops: In-depth Analysis</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Javacript : HigherLevelConcepts -->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          <button
            class="accordion-button collapsed accordion-header-custom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseThree"
            aria-expanded="true"
            aria-controls="panelsStayOpen-collapseThree"
          >
            JavaScript - Higher Level Concepts
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingThree"
        >
          <div class="accordion-body">
            <ul class="list-unstyled">
              <li class="fw-bold mb-2">What is ECMAScript and its history?</li>
              <li class="mb-4">
                Explanation of the ECMAScript standard and its evolution over
                time.
              </li>

              <li class="fw-bold mb-2">ECMA Script vs JavaScript?</li>
              <li class="mb-4">
                Differentiating between ECMAScript and JavaScript and their
                relationship.
              </li>

              <li class="fw-bold mb-2">More about let keyword</li>
              <li class="mb-4">
                Further insights into the usage and behavior of the let keyword
                for variable declaration.
              </li>

              <li class="fw-bold mb-2">More about const keyword</li>
              <li class="mb-4">
                Additional information about the const keyword and its use for
                constant variable declaration.
              </li>

              <li class="fw-bold mb-2">
                The way of handling code exceptions by try , catch, and finally
                blocks
              </li>
              <li class="mb-4">
                Understanding error handling in JavaScript through
                try-catch-finally constructs.
              </li>

              <li class="fw-bold mb-2">
                How to stop the modification of values
              </li>
              <li class="mb-4">
                Techniques for enforcing immutability and preventing value
                modification in JavaScript.
              </li>

              <li class="fw-bold mb-2">
                Arrow functions and their important role
              </li>
              <li class="mb-4">
                Exploring the significance and benefits of arrow functions in
                modern JavaScript development.
              </li>

              <li class="fw-bold mb-2">Normal function vs Arrow function</li>
              <li class="mb-4">
                A comparison between traditional function declarations and arrow
                function expressions.
              </li>

              <li class="fw-bold mb-2">
                Default params, Rest Params, Spread Params, Destructuring,
                Template literals
              </li>
              <li class="mb-4">
                Overview of advanced JavaScript features including default
                parameters, r
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Javacript : Essential Object-Oriented Concepts -->
      <div class="accordion-item" style="margin-bottom: 10px">
        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
          <button
            class="accordion-button collapsed accordion-header-custom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseFour"
            aria-expanded="true"
            aria-controls="panelsStayOpen-collapseFour"
          >
            JavaScript - Essential Object-Oriented Concepts
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseFour"
          class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingFour"
        >
          <div class="accordion-body">
            <ul class="list-unstyled">
              <li class="fw-bold mb-2">What is a Class?</li>
              <li class="mb-4">Definition and usage of JavaScript classes</li>

              <li class="fw-bold mb-2">Using Classes in JavaScript</li>
              <li class="mb-4">
                Utilizing JavaScript classes for object instantiation.
              </li>

              <li class="fw-bold mb-2">Constructor vs Function vs Method</li>
              <li class="mb-4">
                Comparison of constructors, functions, and methods within
                JavaScript classes.
              </li>

              <li class="fw-bold mb-2">Accessing Class Members</li>
              <li class="mb-4">
                Techniques for accessing properties and methods within
                JavaScript classes.
              </li>

              <li class="fw-bold mb-2">
                Implementing JavaScript Concepts in Classes
              </li>
              <li class="mb-4">
                Application of JavaScript principles within class definitions.
              </li>

              <li class="fw-bold mb-2">Inter-Class Communication</li>
              <li class="mb-4">
                Strategies for communication between JavaScript classes.
              </li>

              <li class="fw-bold mb-2">Understanding Modules</li>
              <li class="mb-4">
                Introduction to JavaScript modules for code structuring and
                organization.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
